#form {
    width: 40%;
}

fieldset{
    padding: 20px;
}

body {
    color: white;
    background-color: black;
}

.reg {
    width: 40%;
    margin: 10px;
} 

.button {
    font-family: arial, sans-serif;
    padding: 10px;
    background-color: red;
}

button {
    background-color: red;
    padding: 10px;
}
body, html {height: 100%}

body{font-family: sans-serif}
