{% extends "base.html" %}
{% block content %}  
<!-- Menu Container -->

<div class="w3-container w3-black w3-padding-64 w3-xxlarge" id="selected">
  <div class="w3-content">
  
    <h1 class="w3-center" width=100%>Your Items</h1>
    <div class="w3-row w3-center w3-border w3-border-dark-grey"></div>
    <form  action='/payment' method="POST" id="payment">
        <table width=100% class="w3-center" name='SelectedItems'>
            <tbody>
            <tr class="w3-center" height=11%>
                <th>ITEM</th>
                <th>Price(Rs)</th>
            </tr>
            {% for item in checkedItems %}
            {% if item[1] == 'Total' %}
            <tr class="w3-center" height=11%>
               <td style="font-weight:bold;color:red"> {{ item[1] }}</td>
               <td style="font-weight:bold;color:red">Rs. {{ item[2] }}</td>
             </tr>
           {% else %}
             <tr class="w3-center" height=11%>
               <td>{{ item[1] }}</td>
               <td>Rs. {{ item[2] }}</td>
             </tr>
           {% endif %}
           {% endfor %}
           </tbody>
       </table>
   </form>
   </br>
   <div class="w3-row w3-center">
        <button type="submit" form="payment" value="Submit">Make Payment</button>
        </div>
   </div>
</div>


    </div>
    
  </div>
</div>

{% endblock %}
