{% extends "base.html" %}
<style>
.order {
  background-color: green;
  color:green;
}

</style>
{% block content %}  
<!-- Menu Container -->

<div class="w3-container w3-black w3-padding-64 w3-xxlarge" id="selected">
  <div class="w3-content">
  
    <h1 class="w3-center order" width=100%>Order placed successfully!</h1>
    <h2 class="w3-center" width=100%>Food is on the the way!</h1>
    <div class="w3-row w3-center w3-border w3-border-dark-grey"></div>
        <form  action='/payment' method="POST" id="payment">
            <table width=100% class="w3-center">
              <tr class="w3-center" height=11%>
                <th>ITEM</th>
                <th>Price</th>
              </tr>
                {% for item in checkedItems %}
                {% if item[1] == 'Total' %}
                  <tr class="w3-center" height=11%>
                    <td style="font-weight:bold;color:red">{{ item[1] }}</td>
                    <td style="font-weight:bold;color:red">Rs. {{ item[2] }}</td>
                  </tr>
                {% else %}
                  <tr class="w3-center" height=11%>
                    <td>{{ item[1] }}</td>
                    <td>{{ item[2] }}</td>
                  </tr>
                {% endif %}
                {% endfor %}
            </table>
        </form>
        <form  action='/feedback' method="POST" id="feedback">
            <button type="submit" form="feedback" value="Submit">Care to give feedback!!!</button>
        </form>
  </div>
</div>
{% endblock %}