{% extends 'base.html' %}

{% block style %}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

button {
  background-color: black;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}


span.psw {
  float: right;
  padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
}

form{
  margin-top: 100px;
}
body {
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('./static/images/food_wallpaper.jpg'); 
  min-height: 90%;
}
{% endblock %}

{% block content %}

<form action="/register" method="post">

    <div class="container w3-content w3-container">
      <h1>Register</h1>
      <label for="fname"><b>First Name</b></label>
      <input type="text" placeholder="Enter First Name" name="fname" required><br>
      
      <label for="fname"><b>Last Name</b></label>
      <input type="text" placeholder="Enter First Name" name="lname" required><br>

      <label for="email"><b>Email Address</b></label>
      <input type="email" placeholder="Enter your email address" name="email" required><br>
      
      <label for="phoneNum"><b>Phone Number</b></label>
      <input type="number" placeholder="Enter Phone Number" name="phoneNum" required><br>

      <label for="pwd"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="pwd" required><br>
          
      <button type="submit">Login</button>

    </div>
  </form>

{% endblock %}